*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header
{
    width: 100%;
    height: 5em;
    background-color: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}


.logo
{
    color: black;
    font-weight: 700;
    font-size: 1.7em;
}


.alllist
{
    list-style: none;
    display: flex;
}

.alllist a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    font-size: 18px;
    margin: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.alllist a:hover
{
    color: black;
}


#menu-icon
{
    color: black;
    font-size: 2em;
    display: none;
    cursor: pointer;
}




/* hero section */


.hero
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 100px;
    background-color: rgb(180, 216, 208);
}

.container
{
    height: 60;
    min-height: 60vh;
    width: 100%;
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: rgb(236, 233, 233);
    border-radius: 10px;

}

h3
{
    margin-top: 15px;
}

.text-Container
{
    width: 50%;
    min-width: 340px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}


.Picture-container
{
    width: 50%;
    min-width: 260px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-Container h2
{
    font-size: 3em;
}

.text-Container span
{
    color: rgba(255, 217, 0, 0.938);
}


.Picture-container img
{
    border: 4px solid black;
    background-color: gold;
    border-radius: 100%;
    /* height: 450px; */
    height: 350px;
    min-height: 250px;
    width: 350px;
    min-width: 250px;
}


.icons-container
{
    height: 50px;
    min-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}
.icons-container a
{
    margin: 20px;
    color: rgb(53, 51, 51);
    font-size: 1.3em;
    transition: 0.3s;
}
.icons-container a:hover
{
    transform: scale(1.3);
    color: black;
}






/* footer  */






.container-footer{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .ulfooter{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  















































@media(max-width:880px)
{
    
    .hero
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
.container
{
    height: 70vh;
    padding: 10px;
}

.text-Container
{
    width: 50%;
    min-width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.Picture-container
{
    width: 50%;
    min-width: 250px;
    height: 250px;
    /* min-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}


.text-Container h2
{
    font-size: 3em;
}

.text-Container span
{
    color: red;
}


.Picture-container img
{
    border: 4px solid black;
    border-radius: 100%;
    /* height: 450px; */
    height: 250px;
    min-height: 250px;

    width: 250px;
    min-width: 250px;
}
}


@media(max-width:354px)
{
    .container
{
    min-width: 260px;
}


    .text-Container
{
    width: 50%;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
    
.Picture-container
{
    width: 40%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.Picture-container img
{
    border: 4px solid black;
    border-radius: 100%;
    /* height: 450px; */
    height: 250px;
    min-height: 250px;

    width: 250px;
    min-width: 250px;
}
}









@media(max-height:667px)
{

    .hero
    {
        height: 115vh
    }

    .container
    {
        height: 80vh;
    }
    .Picture-container img
    {
        border: 4px solid black;
        border-radius: 100%;
        /* height: 450px; */
        height: 150px;
        min-height: 150px;
    
        width: 150px;
        min-width: 150px;
    }
}


@media(max-height:740px)
{
    .Picture-container img
    {
        border: 4px solid black;
        border-radius: 100%;
        /* height: 450px; */
        height: 200px;
        min-height: 200px;
    
        width: 200px;
        min-width: 200px;
    }

}












@media(max-width:1250px)
{
    .alllist
    {
        display: none;
    }

    #menu-icon
    {
        display: block;
    }

    .alllist
    {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #ffffff80;
        backdrop-filter: blur(10px);
        height: 55vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        z-index: 999;
    }

    .alllist a
    {
        margin-left: 0;
        margin: 30px 0;
        display: block;
    }
    .alllist.open
    {
        right: 0;
    }




}