*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header
{
    width: 100%;
    height: 5em;
    background-color: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    position: fixed;
}


.logo
{
    color: black;
    font-weight: 700;
    font-size: 1.7em;
}


.alllist
{
    list-style: none;
    display: flex;
}

.alllist a
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    font-size: 18px;
    margin: 20px;
    font-weight: 600;
    transition: 0.4s;
}

.alllist a:hover
{
    color: black;
}


#menu-icon
{
    color: black;
    font-size: 2em;
    display: none;
    cursor: pointer;
}




/* hero section */


.hero
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 100px;
    background-color: rgb(255, 255, 255);
}

.container
{
    height: 60;
    min-height: 60vh;
    width: 100%;
    border: 1px solid black;
    min-width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.text-Container
{
    border: 1px solid black;
    width: 50%;
    min-width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}


.Picture-container
{
    width: 50%;
    border: 1px solid black;
    min-width: 260px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-Container h2
{
    font-size: 3em;
}

.text-Container span
{
    color: red;
}


.Picture-container img
{
    border: 4px solid black;
    border-radius: 100%;
    /* height: 450px; */
    height: 350px;
    min-height: 250px;

    width: 350px;
    min-width: 250px;
}







@media(max-width:880px)
{
    
    .hero
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
.container
{
    height: 70vh;
    padding: 10px;
}

.text-Container
{
    border: 1px solid black;
    width: 50%;
    min-width: 340px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.Picture-container
{
    width: 50%;
    border: 1px solid black;
    min-width: 250px;
    height: 250px;
    /* min-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}


.text-Container h2
{
    font-size: 3em;
}

.text-Container span
{
    color: red;
}


.Picture-container img
{
    border: 4px solid black;
    border-radius: 100%;
    /* height: 450px; */
    height: 250px;
    min-height: 250px;

    width: 250px;
    min-width: 250px;
}
}


@media(max-width:354px)
{
    .container
{
    min-width: 260px;
}


    .text-Container
{
    border: 1px solid black;
    width: 50%;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
    
.Picture-container
{
    width: 40%;
    border: 1px solid black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
}

.Picture-container img
{
    border: 4px solid black;
    border-radius: 100%;
    /* height: 450px; */
    height: 250px;
    min-height: 250px;

    width: 250px;
    min-width: 250px;
}
}








@media(max-width:1250px)
{
    .alllist
    {
        display: none;
    }

    #menu-icon
    {
        display: block;
    }

    .alllist
    {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #ffffff80;
        backdrop-filter: blur(10px);
        height: 65vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        z-index: 999;
    }

    .alllist a
    {
        margin-left: 0;
        margin: 30px 0;
        display: block;
    }
    .alllist.open
    {
        right: 0;
    }




}